<div class="w-full overflow-x-auto p-2">
  <a routerLink="/levels/new" style="cursor: pointer;" class="p-2 rounded-sm bg-green-500 text-gray-50 font-semibold flex items-center gap-2 w-fit">
    <i class="fa-solid fa-plus"></i>
    <span>New</span>
  </a>
  <table class="w-full mt-2">
    <thead class="text-left border-b border-gray-300">
      <th class="py-2 pr-3">ID</th>
      <th class="py-2 pr-3">DESCRIPTION</th>
      <th class="py-2 pr-3">MAX POINTS</th>
      <th class="py-2 pr-3">MIN POINTS</th>
      <th class="py-2 pr-3">QUESTIONS</th>
      <th class="py-2 pr-3">OPERATIONS</th>
    </thead>
    <tbody>
      <tr *ngFor="let level of levels" class="border-b border-gray-300">
        <td class="py-2 text-gray-500">{{ level.id }}</td>
        <td class="py-2 text-gray-500">{{ level.description }}</td>
        <td class="py-2 text-gray-500">
          {{ level.maxPoints }}
        </td>
        <td class="py-2 text-gray-500">{{ level.minPoints }}</td>
        <td class="py-2 text-gray-500">{{ level.maxPoints }}</td>
        <td class="py-2 text-gray-500 flex gap-4 items-center">
          <i
            [routerLink]="['/levels/edit', level.id]"
            class="fa-regular fa-pen-to-square text-green-500 bg-green-200 rounded-sm p-2"
            style="font-size: 20px; cursor: pointer"
          ></i>
          <i
            (click)="confirmDelete(+level.id)"
            class="fa-regular fa-trash-can text-red-500 bg-red-200 rounded-sm p-2"
            style="font-size: 20px; cursor: pointer"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
