<form method="post" (ngSubmit)="addMedia()" class="grid gap-10 md:w-[50%] w-[100%] mx-auto rounded-sm shadow-lg p-4">
    <div class="grid gap-3">
        <label for="type" class="text-gray-600">Type</label>
        <input type="text" name="type" [(ngModel)]="type" placeholder="Media type" class="px-2 py-3 rounded-sm border border-gray-500">
    </div>
    <div class="grid gap-3">
        <label for="url" class="text-gray-600">Url</label>
        <input type="text" name="url" [(ngModel)]="url" placeholder="Media url" class="px-2 py-3 rounded-sm border border-gray-500">
    </div>
    <div class="grid gap-3">
        <label for="parent" class="text-gray-600">Question</label>
        <select name="parentId" class="px-2 py-3 rounded-sm border border-gray-500 bg-white" [(ngModel)]="questionId">
            <option *ngFor="let question of questions" [value]="question.id">{{ question.content }}</option>
        </select>
    </div>
    <button class="rounded-sm bg-cyan-500 p-3 font-semibold justify-self-start text-gray-50">Submit</button>
</form>
